.draft-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .blue-side,
  .red-side {
    width: 200px;
  }
  
  .champion-pool-container {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }

  .role-filter {
    display: flex;
    align-items: center;
  }
  
  .role-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 0.6;
  }
  
  .role-icon.active {
    opacity: 1;
  }

  .search-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .search-bar input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .champion-pool {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
    border: 0px solid #515151;
    padding: 5px;
  }

  .champion-icon {
    width: 75px;
    height: 75px;
    margin: 0px;
    cursor: pointer;
  }
  
  #champion-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 0fr));
    grid-gap: 2px;
    justify-items: center;
  }
  
  #blue-picks,
  #red-picks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-items: center;
  }

  .champion-icon.selected {
    border: 2px solid blue;
  }
  
  #confirmButton {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  #confirmButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }